body, #root, .App {
  height: 100%;
  width: 100%;
}

.background {
  position: fixed;
  width: 100%;
}

body { margin: 0; }

canvas { 
  display: block;
  z-index: -5;
  position: absolute;
  top: 0;
  left: 0;
}

.header {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 0;
}

#forename {
  z-index: 1;
  margin: 0;
  padding: 0;
  font-size: 120pt;
  font-weight: bold;
  padding-left: 5%;
}

#surname {
  font-size: 120pt;
  z-index: 1;
  margin: 0;
  padding: 0;
  font-weight: lighter;
  padding-left: 25%;
}

#jobTitle {
  z-index: 1;
  padding-left: 35%;
  font-size: 60pt;
}


.project_title {
  width: fit-content;
  margin: 5px;
}

.interface {
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
  display: flex;
  flex-direction: row;

}

.interface_image {
  width: 50%;
  height: 40%;
  position: relative;
  right: 0;
}

.scene {
  height: 100vh;
}